.elevators {
  display: grid;
  grid-template-columns: repeat(var(--elevatorCount), 1fr);
  gap: 5px;
  width: fit-content;
  height: calc(var(--floorsCount) * var(--floorHeight));
}

.elevators__elevatorMine {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 45%, var(--black) 52%, rgba(0, 0, 0, 0) 57%);
  width: 40px;
  position: relative;
}

.elevators__elevator {
  transition: var(--movingSeconds) linear;

  position: absolute;
  left: 0;
  right: 0;
  top: calc((var(--floorsCount) - var(--currentFloor)) * var(--floorHeight));
  margin: auto;
  height: var(--floorHeight);
  width: 30px;
  background: var(--white);
  border: 2px solid var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}
